/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.index
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.phpunit.result.cache
laravel-echo-server.json
/public/mix-manifest.json
/public/js/vendor.js
/public/css/nflip.css
/public/js/nflip.js